/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.testing
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

.DS_Store
**/**/.DS_Store

storage/
storage/*.key
/.vagrant
/.ddev/
/.idea/
/.idea/workspace.xml
/tmp/
/*.sql
run.sh
/composer.sh
/public/vendor/telescope/
/database/migrations/*_create_telescope_entries_table.php
